<h1 class="splash-head">You're in!</h1>
<p class="splash-subhead">
  <strong>Email:</strong> <%= @user.email %><br/>
  <strong>Name:</strong>  <%= @user.name %>
</p>

<p id="notice" <%= 'hidden' unless notice %> ><%= notice %></p>

<p>
  <%= link_to 'Edit this User',  edit_user_path(@user), class: "pure-button button" %>
  <%= link_to 'Go to User List', users_path,            class: "pure-button button" %>
</p>