<!DOCTYPE html>
<html>
<head>
  <title>Rails OAuth 2 App</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="/">Rails OAuth 2</a>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><%= link_to "Logout", logout_url, class: "pure-menu-link" %></li>
      </ul>
    </div>
  </div>
  <div class="splash-container">
    <div class="splash">
      <%= yield %>
    </div>
  </div>
</body>
</html>
